{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <!-- <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"> -->
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
            </div>
            <!-- Card stats -->
            <div class="row">
              <div class="col">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <h5 class="card-title text-uppercase text-muted mb-0">간략소개</h5>
                        <span class="h2 font-weight-bold mb-0">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                          Voluptatibus consequuntur cum molestiae.
                        </span>
                      </div>
                      <!-- <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                          <i class="ni ni-active-40"></i>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt--6">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm">
                      <h2 class="card-title text-uppercase mb-0">어쩌구 저쩌구</h2>
                      <span class="h3 font-weight-bold mb-0">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem neque fugit non laboriosam repellat quibusdam nulla 
                        tempora quia iure nemo expedita distinctio reiciendis ipsum ipsa, 
                        debitis, culpa nostrum provident enim?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem neque fugit non laboriosam repellat quibusdam nulla 
                        tempora quia iure nemo expedita distinctio reiciendis ipsum ipsa, 
                        debitis, culpa nostrum provident enim?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem neque fugit non laboriosam repellat quibusdam nulla 
                        tempora quia iure nemo expedita distinctio reiciendis ipsum ipsa, 
                        debitis, culpa nostrum provident enim?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem neque fugit non laboriosam repellat quibusdam nulla 
                        tempora quia iure nemo expedita distinctio reiciendis ipsum ipsa, 
                        debitis, culpa nostrum provident enim?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Voluptatem neque fugit non laboriosam repellat quibusdam nulla 
                        tempora quia iure nemo expedita distinctio reiciendis ipsum ipsa, 
                        debitis, culpa nostrum provident enim?
                      </span>
                    </div>
                    <!-- <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include "includes/footer.html" %}
        
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

{% endblock javascripts %}
