{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="yj">제철 수산물</h6>
          </div>
        </div>
      </div>
      <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">봄 (3월 ~ 5월)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">여름 (6월 ~ 8월)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">가을 (9월 ~ 11월)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">겨울 (12월 ~ 2월)</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
  <!-- <div class="container-fluid mt"> -->
    <div class="card shadow">
      <div class="card-body">
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                <h2 class="subtitle">갑오징어</h2>
                  <div class="row">
                    <div class="col-lg-6">
                      <img class="seafood" src="/static/assets/img/brand/gv20000226963_1.jpg" alt="갑오징어">
                    </div>
                    <div class="col-lg">
                      <p class="subtitle2">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                      <p class="subtitle2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                    </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                <h2 class="subtitle">전복</h2>
                  <div class="row">
                    <div class="col-lg-6">
                      <img class="seafood" src="/static/assets/img/brand/gv10000105831_1.jpg" alt="전복">
                    </div>
                    <div class="col-lg">
                      <p class="subtitle2">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                      <p class="subtitle2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                    </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                <h2 class="subtitle">은갈치</h2>
                  <div class="row">
                    <div class="col-lg-6">
                      <img class="seafood" src="/static/assets/img/brand/gv00000220497_1.jpg" alt="은갈치">
                    </div>
                    <div class="col-lg">
                      <p class="subtitle2">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                      <p class="subtitle2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                    </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                <h2 class="subtitle">킹크랩</h2>
                  <div class="row">
                    <div class="col-lg-6">
                      <img class="seafood" src="/static/assets/img/brand/gv00000315238_1.jpg" alt="킹크랩">
                    </div>
                    <div class="col-lg">
                      <p class="subtitle2">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                      <p class="subtitle2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
                    </div>
                  </div>
              </div>

          </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
